<a href="https://colab.research.google.com/github/RomainReina/Projet_NLP/blob/main/Projet_NLP_REINAROMAIN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import Python libraries and helper functions 
from keras.datasets import imdb
import pandas as pd
import numpy as np
from keras.layers import LSTM, Activation, Dropout, Dense, Input
from keras.layers.embeddings import Embedding
from keras.models import Model
import string
import re
from keras.preprocessing.text import Tokenizer
from sklearn.preprocessing import LabelBinarizer
from keras.preprocessing.sequence import pad_sequences
import keras
from sklearn.model_selection import train_test_split

from nltk.tokenize import word_tokenize
from nltk.text import Text
from nltk.stem.lancaster import LancasterStemmer
from nltk.stem import WordNetLemmatizer
import nltk

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [27]:
from google.colab import drive
drive.mount('/content/gdrive',force_remount= True)

Mounted at /content/gdrive

In [74]:
csv = pd.read_csv("gdrive/MyDrive/Projet_NLP/training.1600000.processed.noemoticon.csv",encoding = "ISO-8859-1")
csv

         0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
0        0  ...  is upset that he can't update his Facebook by ...
1        0  ...  @Kenichan I dived many times for the ball. Man...
2        0  ...    my whole body feels itchy and like its on fire
3        0  ...  @nationwideclass no, it's not behaving at all....
4        0  ...                      @Kwesidei not the whole crew
...     ..  ...                                                ...
1599994  4  ...  Just woke up. Having no school is the best fee...
1599995  4  ...  TheWDB.com - Very cool to hear old Walt interv...
1599996  4  ...  Are you ready for your MoJo Makeover? Ask me f...
1599997  4  ...  Happy 38th Birthday to my boo of alll time!!! ...
1599998  4  ...  happy #charitytuesday @theNSPCC @SparksCharity...

[1599999 rows x 6 columns]

In [97]:
data = csv.drop(['1467810369','Mon Apr 06 22:19:45 PDT 2009','NO_QUERY','_TheSpecialOne_'],axis = 1)
data.columns = ['index', 'comments']
data

         index                                           comments
0            0  is upset that he can't update his Facebook by ...
1            0  @Kenichan I dived many times for the ball. Man...
2            0    my whole body feels itchy and like its on fire
3            0  @nationwideclass no, it's not behaving at all....
4            0                      @Kwesidei not the whole crew
...        ...                                                ...
1599994      4  Just woke up. Having no school is the best fee...
1599995      4  TheWDB.com - Very cool to hear old Walt interv...
1599996      4  Are you ready for your MoJo Makeover? Ask me f...
1599997      4  Happy 38th Birthday to my boo of alll time!!! ...
1599998      4  happy #charitytuesday @theNSPCC @SparksCharity...

[1599999 rows x 2 columns]

In [105]:

n = 200
#j'en veux que 200 + et 200 - 
negative_value = data[-n:]
positive_value = data[:n]
data_liste = positive_value
data_liste

     index                                           comments
0        0  is upset that he can't update his Facebook by ...
1        0  @Kenichan I dived many times for the ball. Man...
2        0    my whole body feels itchy and like its on fire
3        0  @nationwideclass no, it's not behaving at all....
4        0                      @Kwesidei not the whole crew
..     ...                                                ...
195      0                                 wanttss to go out
196      0                     Is not going to sleep tonite.
197      0             too worried and tired to post tonight
198      0     couldn't get shit done today ~ i'm so screwed
199      0  Job Interview in Cardiff today, wish me luck! ...

[200 rows x 2 columns]

In [99]:
print(len(data_liste))
data_train8 = data_liste['comments']   # on crée la liste du voca

200

 # Traitemeent de Texte

In [109]:
#Minuscule
for k in range(len(data_train)):
    data_train[k] = data_train8[k].lower()
    
#Tokenization
tokenizer = nltk.RegexpTokenizer(r'\w+')

for k in range(len(data_train)):
    data_train[k] = tokenizer.tokenize(data_train[k])
    
#Stopwords
for k in range(len(data_train)):
    data_train[k] = [w for w in data_train[k] if not w in list(nltk.corpus.stopwords.words('english'))]
    
#Lemmatization
Word_Lemmatizer = WordNetLemmatizer()

for k in range(len(data_train)):
    data_train[k] = [Word_Lemmatizer.lemmatize(w) for w in data_train[k]]

print("First sentence: ")
print(data_liste["comments"][0])

print("First sentence embeded: ")
print(data_train[0])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

First sentence:
is upset that he can't update his Facebook by texting it... and might cry as a result  School today also. Blah!
First sentence embeded:
['upset', 'update', 'facebook', 'texting', 'might', 'cry', 'result', 'school', 'today', 'also', 'blah']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

# Train

building vocab

In [111]:
from collections import defaultdict

vocab = defaultdict(lambda: 0)
vocab['<PAD>'] = 1

for idx in range(len(data_train)):
    q = data_train[idx]
    for word in q:
        if word not in vocab:
            vocab[word] = len(vocab) + 1
print('The length of the vocabulary is: ', len(vocab))

The length of the vocabulary is:  959

In [116]:
print(vocab['<PAD>'])
print(vocab['update'])
print(vocab['Astronomy'])  #not in vocabulary, returns 0

1
3
0
0

In [106]:
def data_generator(batch_size, pos_data, neg_data, vocab, shuffle=False, verbose=False):
    '''
      Input: 
        batch_size - integer describing the batch size
        pos_data - list containing sentences where sentence are positive
        neg_data - list containing sentences where sentence are positive
        shuffle - Shuffle the data order
        pad - an integer representing a pad character
        verbose - Print information during runtime
      Output:
        a tuple containing 2 elements:
        X - np.ndarray of dim (batch_size, max_len) of padded sentences
        Y - np.ndarray of dim (batch_size, max_len) of tags associated with the sentences in X
    '''
    
    # count the number of lines in data_lines
    num_lines = len(x)
    
    # create an array with the indexes of data_lines that can be shuffled
    lines_index = [*range(num_lines)]
    
    # shuffle the indexes if shuffle is set to True
    if shuffle:
        rnd.shuffle(lines_index)
    
    index = 0 # tracks current location in x, y
    while True:
        buffer_x = [0] * batch_size # Temporal array to store the raw x data for this batch
        buffer_y = [0] * batch_size # Temporal array to store the raw y data for this batch
                
  ### START CODE HERE (Replace instances of 'None' with your code) ###
        
        # Copy into the temporal buffers the sentences in x[index : index + batch_size] 
        # along with their corresponding labels y[index : index + batch_size]
        # Find maximum length of sentences in x[index : index + batch_size] for this batch. 
        # Reset the index if we reach the end of the data set, and shuffle the indexes if needed.
        max_len = 0
        for i in range(batch_size):
             # if the index is greater than or equal to the number of lines in x
            if index >= num_lines:
                # then reset the index to 0
                index = 0
                # re-shuffle the indexes if shuffle is set to True
                if shuffle:
                    rnd.shuffle(lines_index)
            
            # The current position is obtained using `lines_index[index]`
            # Store the x value at the current position into the buffer_x
            buffer_x[i] = x[lines_index[index]]
            
            # Store the y value at the current position into the buffer_y
            buffer_y[i] = y[lines_index[index]]
            
            lenx = len(x[lines_index[index]])    #length of current x[]
            if lenx > max_len:
                max_len = lenx                   #max_len tracks longest x[]
            
            # increment index by one
            index += 1


        # create X,Y, NumPy arrays of size (batch_size, max_len) 'full' of pad value
        X = np.full((batch_size, max_len), pad)
        Y = np.full((batch_size, max_len), pad)

        # copy values from lists to NumPy arrays. Use the buffered values
        for i in range(batch_size):
            # get the example (sentence as a tensor)
            # in `buffer_x` at the `i` index
            x_i = buffer_x[i]
            
            # similarly, get the example's labels
            # in `buffer_y` at the `i` index
            y_i = buffer_y[i]
            
            # Walk through each word in x_i
            for j in range(len(x_i)):
                # store the word in x_i at position j into X
                X[i, j] = x_i[j]
                
                # store the label in y_i at position j into Y
                Y[i, j] = y_i[j]

    ### END CODE HERE ###
        if verbose: print("index=", index)
        yield((X,Y))